.digital-stroke{
    background: transparent;
   
      color: transparent;
      -webkit-text-stroke: 1px white;
    
}
.slick-center .slide {
  transform: scale(1.2);
  transition: transform 0.3s ease-in-out;
}

.slick-slide {
  opacity: 0.7; 
  transition: opacity 0.3s ease-in-out;
}

.slick-center {
  opacity: 1;
}

.slick-slider{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-list{
  padding: 100px;
}
.slick-track{
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}